* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
}

button,
textarea,
input {
  padding: 0;
  margin: 0;
  font-size: var(--fs-l);
}
