.body {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background: red;
}

.title {
    font-size: var(--fs-b);
}