.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: var(--fs-b);
  text-align: center;
  margin: 0 0 15px;
  color: var(--primary-color);
}

.update_button {
  text-align: center;
  display: block;
  padding: 10px 15px;
  transition: all 500ms;
  color: var(--primary-color);
  background-color: var(--bacgkround);

  &:hover {
    color: var(--invert-primary-color);
    background-color: var(--invert-background);
  }
}

